<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAwpService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true" />
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:19000/WcfAwpService" behaviorConfiguration="NetTcpBehavior_IAwpService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAwpService" contract="AwpServiceReference.IAwpService" name="NetTcpBinding_IAwpService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA0r25wp7XUhlIiVAQZbllO5jYLMwgAAAAAQAAAL0BAAAwggG5MIIBZ6ADAgECAhAxBKz85pJWmk83M/bFYM+SMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTExMTIxMTE0MTIyWhcNMzkxMjMxMjM1OTU5WjAcMRowGAYDVQQDExFNb2R1bGF0b3JTZXJ2aWNlczCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6TzG8XWWG4/tY9gUhjJGfViclKimHaUfaIDekm7dXAA9RoAjlq1bC1Z1m+XlkkSJZA2/xmkPxlSOkYe1I3IV0P7ONlOzPE7ASPCHKNYqlt0W+kfcIHGOFvezu4yMHoBle0bizQ0diDwxCKYz63Ecrhyhf9bcEbwcaOC/UEEG5f8CAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQA816NmgLGKSAy4TU1l1FdUzyvTBlBsQEq61X1qjMs00EOKOq17UagDO96hQguUTZR5Bln5OSnJU9jxQrKrXRP0" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NetTcpBehavior_IAwpService">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="modulatorEntities" connectionString="metadata=res://*/db.modulator.csdl|res://*/db.modulator.ssdl|res://*/db.modulator.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GOLLUM\GOLLUMSQL;Initial Catalog=Modulator;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ModulatorExchangeServer&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>